﻿@model Classified.Models.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategorySubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategorySubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentCategorySEOPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentCategorySEOPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategorySEOPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategorySEOPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWanted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWanted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetricLengthUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetricLengthUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImperialLengthUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImperialLengthUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetricSizeUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetricSizeUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImperialSizeUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImperialSizeUnit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section scripts{}