﻿@model IEnumerable<Classified.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategorySubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategorySEOPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubCategorySEOPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MakeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWanted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetricLengthUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImperialLengthUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MetricSizeUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImperialSizeUnit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategorySubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCategorySEOPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubCategorySEOPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MakeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWanted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetricLengthUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImperialLengthUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MetricSizeUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImperialSizeUnit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>

@section scripts{}