﻿@model Classified.Models.Advert
@{ 
    int year = 0;
    year = Int32.Parse(DateTime.Now.Year.ToString());
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                @{
                    ViewBag.Title = "Create";
            }
        </h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">


                @using (Html.BeginForm("Create", "Adverts",
    new { ReturnUrl = ViewBag.ReturnUrl },
    FormMethod.Post, new { @class = "form-horizontal validate" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Advert</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Category <span class="label-required">*</span></label>
                                <div class="col-sm-10">
                                    @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Make <span class="label-required">*</span></label>
                                <div class="col-sm-10 control-group">
                                    @Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Model <span class="label-required">*</span></label>
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    Year
                                </label>
                                <div class="col-md-10">
                                    <div class="col-sm-10 form-inline">
                                        <select class="form-control" name="year">
                                            <option value="">(Select Year)</option>
                                        @for (var i = 0; i < 20; i++)
                                        {
                                            var y = year - i;
                                            <option value="@y">@y</option>
                                        }
                                            
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Length Units</label>
                                <div class="col-sm-10 row">
                                    <label class="checkbox-inline">
                                        <input type="radio" id="inlineCheckbox1" value="metric" name="lengu"> Metric (cm)
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" id="inlineCheckbox1" value="imprerial" name="lengu" checked="checked"> Imprerial (feet/inches)
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    Length
                                    <span class="label-required">*</span>
                                </label>
                                <div class="col-sm-10">
                                    @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
                                    <div class="row form-inline">
                                        <div class="col-sm-6 textbox-field">
                                            <label class="fixed-label">cm</label>
                                            <input type="text" class="form-control" value="0" name="cm">
                                        </div>
                                        <div class="col-sm-6 textbox-field">
                                            <label class="fixed-label">feet</label>
                                            <input type="text" class="form-control" value="0" name="feet">
                                        </div>
                                        <div class="col-sm-6 textbox-field">
                                            <label class="fixed-label">inches</label>
                                            <input type="text" class="form-control" value="0" name="inches">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="length" name="Length" value="" />
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Price <span class="label-required">*</span></label>
                                <div class="col-sm-10 form-inline">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Description <span class="label-required">*</span></label>
                                    <div class="col-sm-10">
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="12" name="Description"></textarea>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Suburb, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Suburb, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Suburb, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label">State</label>
                                            <div class="col-sm-11 form-inline">
                                                <select class="form-control" name="State" id="State">
                                                    <option value="">(Select...)</option>
                                                    <option value="Select - Option 1">Select - Option 1</option>
                                                    <option value="Select - Option 2">Select - Option 2</option>
                                                    <option value="Select - Option 3">Select - Option 3</option>
                                                    <option value="Select - Option 4">Select - Option 4</option>
                                                    <option value="Select - Option 5">Select - Option 5</option>
                                                </select>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Delivery</label>
                                    <div class="col-sm-10 form-inline">
                                        <select class="form-control" id="DeliveryOptions" name="DeliveryOptions">
                                            <option value="">(Select ...)</option>
                                            <option value="Select - Option 1">Select - Option 1</option>
                                            <option value="Select - Option 2">Select - Option 2</option>
                                            <option value="Select - Option 3">Select - Option 3</option>
                                            <option value="Select - Option 4">Select - Option 4</option>
                                            <option value="Select - Option 5">Select - Option 5</option>
                                        </select>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.DeliveryOptions, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Alternate Payments accepted</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox1" name="BuyerPaymentOptions[]" value="option1"> Direct Deposit</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox1" name="BuyerPaymentOptions[]" value="option1"> Personal Cheque</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox1" name="BuyerPaymentOptions[]" value="option1"> Credit card</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox1" name="BuyerPaymentOptions[]" value="option1"> Money Order / Bank Cheque</label>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox1" name="BuyerPaymentOptions[]" value="option1"> Paypal</label>
                                            </div>
                                            <div class="col-sm-9">
                                                <label class="checkbox-inline"><input type="checkbox" id="inlineCheckbox1" name="BuyerPaymentOptions[]" value="option1"> Orther / See item description</label>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.BuyerPaymentOptions, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <!-- /#DROPZONE -->
                                <div id="actions" class="row">
                                    <div class="col-lg-8">
                                        <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-success fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>Add files...</span>
                                        </span>
                                        <button type="button" class="btn btn-primary start">
                                            <i class="glyphicon glyphicon-upload"></i>
                                            <span>Start upload</span>
                                        </button>
                                        <button type="reset" class="btn btn-warning cancel">
                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                            <span>Cancel upload</span>
                                        </button>
                                        <button type="button" data-dz-remove class="btn btn-danger delete">
                                            <i class="glyphicon glyphicon-trash"></i>
                                            <span>Delete</span>
                                        </button>
                                    </div>
                                    <div class="col-lg-4">
                                        <!-- The global file processing state -->
                                        <span class="fileupload-process">
                                            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="table table-striped files" id="previews">
                                    <div id="template" class="file-row">
                                        <!-- This is used as the file preview template -->
                                        <div>
                                            <span class="preview"><img data-dz-thumbnail width="80" /></span>
                                        </div>
                                        <div>
                                            <p class="name" data-dz-name></p>
                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                        </div>
                                        <div>
                                            <p class="size" data-dz-size></p>
                                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                            </div>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-primary start">
                                                <i class="glyphicon glyphicon-upload"></i>
                                                <span>Start</span>
                                            </button>
                                            <button type="button" data-dz-remove class="btn btn-warning cancel">
                                                <i class="glyphicon glyphicon-ban-circle"></i>
                                                <span>Cancel</span>
                                            </button>
                                            <button type="button" data-dz-remove class="btn btn-danger delete">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                <span>Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- /END DROPZONE -->
                                <div class="form-group">
                                    <div class="col-md-12 text-right"><button type="submit" class="btn btn-primary">Save</button></div>
                                </div>
                }
            </div>
        </div>
    </div>
</div>
</div><!-- /#MAIN -->
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
      // Get the template HTML and remove it from the doument
      var previewNode = document.querySelector("#template");
      previewNode.id = "";
      var previewTemplate = previewNode.parentNode.innerHTML;
      previewNode.parentNode.removeChild(previewNode);

      var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/Adverts/Upload", // Set the url
        maxFiles: 8,
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 20,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
      });
      myDropzone.on("addedfile", function(file) {
        // Hookup the start button
        file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file); };
      });
      // Update the total progress bar
      myDropzone.on("totaluploadprogress", function(progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
      });
      myDropzone.on("sending", function(file) {
        // Show the total progress bar when upload starts
        document.querySelector("#total-progress").style.opacity = "1";
        // And disable the start button
        file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
      });
      // Hide the total progress bar when nothing's uploading anymore
      myDropzone.on("queuecomplete", function(progress) {
        document.querySelector("#total-progress").style.opacity = "0";
      });
      myDropzone.on("success", function (file, res) {
          console.log(res);
          $('#previews').append('<input type="hidden" name="idFiles" value="' + res + '">');
      });
      // Setup the buttons for all transfers
      // The "add files" button doesn't need to be setup because the config
      // `clickable` has already been specified.
      document.querySelector("#actions .start").onclick = function() {
        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
      };
      document.querySelector("#actions .cancel").onclick = function() {
        myDropzone.removeAllFiles(true);
      };
      document.querySelector("#actions .delete").onclick = function() {
        myDropzone.removeAllFiles(true);
      };
    </script>
}


