﻿@model Classified.Models.Advert

@{
    ViewBag.Title = "Details";
    var i = 0;
    var j = 0;
}

<h2>Details</h2>

<div class="container show-grid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">DisplayAdvert</h1>
            <div class="row">
                <div class="col-md-4">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @if (ViewBag.images != null) { 
                                foreach (var image in ViewBag.images)
                                {
                                    if (j == 0)
                                    {
                                        <li data-target="#carousel-example-generic" data-slide-to="@j" class="active"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#carousel-example-generic" data-slide-to="@j"></li>
                                    }

                                }
                            }
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
@if (ViewBag.images != null)
{
                            foreach (var image in ViewBag.images)
                            {

                                if (i == 0)
                                {
                                    <div class="item active">
                                        <img src="@Url.Content(@image)" alt="Classifieds" class="img-responsive">
                                    </div>
                                }
                                else
                                {
                                    <div class="item">
                                        <img src="@Url.Content(@image)" alt="Classifieds" class="img-responsive">
                                    </div>
                                }
                                i++;
                            }
}
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3>@Html.DisplayFor(model => model.Title)</h3>
                    <p><label>Category :</label><a href="#">@Html.DisplayFor(model => model.Category.CategorySubCategoryName)</a></p>
                    <p><label>Make :</label><a href="#">@Html.DisplayFor(model => model.Make)</a></p>
                    <p><label>Model :</label><a href="#">@Html.DisplayFor(model => model.Model)</a></p>
                    <p><label>Year :</label><a href="#">@Html.DisplayFor(model => model.Year)</a></p>
                    <p><label>Length :</label><span>@Html.DisplayFor(model => model.Length)</span></p>
                    <p><label>Price :</label><span>@Html.DisplayFor(model => model.Price) $</span></p>
                    <label>Description :</label><span>@Html.DisplayFor(model => model.Description)</p>
                    <p><label>Name :</label><span>@Html.DisplayFor(model => model.Name)</span></p>
                    <p><label>Phone :</label><span>@Html.DisplayFor(model => model.Phone)</span></p>
                    <p><label>Email :</label><span>@Html.DisplayFor(model => model.Email)</span></p>
                    <p><label>Suburb :</label><span>@Html.DisplayFor(model => model.State)</span></p>
                    <p><label>Delivery :</label><span>@Html.DisplayFor(model => model.DeliveryOptions)</span></p>
                    <p><label>Alternate Payments accepted :</label><span>@Html.DisplayFor(model => model.BuyerPaymentOptions)</span></p>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#MAIN -->
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvertID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
