﻿@model IEnumerable<Classified.Models.Advert>

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <h2>The</h2>
    <p>List Adverts:</p>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Model
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategorySubCategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AdvertID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.AdvertID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.AdvertID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section scripts{}
