html, body {
  height: 100%;
}
header,footer {
  background-color: #3A8AC1;
}
header.navbar {
  border-bottom: 1px solid #000;
}
footer {
  padding: 15px 0 0;
  margin-top: 30px;
  border-top: 1px solid #000;
}
header .navbar-brand,
header ul.nav li a,
footer ul.menu li a {
  color: #FFF;
  line-height: 1.5em;
}
footer ul.menu li {
  color: #FFF;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #3B6684;
}
.navbar-toggle {
  border: 1px solid #FFF;
}
.navbar-toggle .icon-bar {
  border-bottom: 1px solid #FFF;
}
#bottom-band {
  padding: 10px 0;
  background-color: #000;
  color: #FFF;
}
#bottom-band a {
  color: #FFF;
}
#actions {
  margin: 2em 0;
}
/* Mimic table appearance */
div.table {
  display: table;
}
div.table .file-row {
  display: table-row;
}
div.table .file-row > div {
  display: table-cell;
  vertical-align: top;
  border-top: 1px solid #ddd;
  padding: 8px;
}
div.table .file-row:nth-child(odd) {
  background: #f9f9f9;
}
/* The total progress gets shown by event listeners */
#total-progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}
/* Hide the progress bar when finished */
#previews .file-row.dz-success .progress {
  opacity: 0;
  transition: opacity 0.3s linear;
}
/* Hide the delete button initially */
/*#previews .file-row .delete {
  display: none;
}*/
/* Hide the start and cancel buttons and show the delete button */
#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
  display: none;
}
#previews .file-row.dz-success .delete {
  display: block;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  margin: 0 auto;
}
.carousel {
  background-color: #9E9E9E;
}
.carousel-control { background-image: none; }
.carousel-caption { background-color: #999; }

/**********************************

Name: cmxform Styles

***********************************/
form.cmxform {
  width: 370px;
  font-size: 1.0em;
  color: #333;
}

form.cmxform legend {
  padding-left: 0;
}

form.cmxform legend, form.cmxform label {
  color: #333;
}

form.cmxform fieldset {
  border: none;
  border-top: 1px solid #C9DCA6;
  background: url(../images/cmxform-fieldset.gif) left bottom repeat-x;
  background-color: #F8FDEF;
}

form.cmxform fieldset fieldset {
  background: none;
}

form.cmxform fieldset p, form.cmxform fieldset fieldset {
  padding: 5px 10px 7px;
  background: url(../images/cmxform-divider.gif) left bottom repeat-x;
}

form.cmxform label.error, label.error {
  display: block;
  clear: both;
  color: red;
  font-style: italic
}
.label-required {
  color: red;
}
div.error { display: none; }
input { border: 1px solid black; }
input.checkbox { border: none }
input:focus { border: 1px solid black; }
input.error, textarea.error, .form-control.error { border: 1px solid red; }
form.cmxform .gray * { color: gray; }
.textbox-field input[type=text] { float: left; }
.textbox-field label.fixed-label { position: absolute; margin: 5px 0 0 10px; top: 0px; left: 65%; }